# Global options
{
    email {$EMAIL}
}

# Homepage
homepage.gsofianos.duckdns.org {
    reverse_proxy homepage:3000
}

# Jellyfin
jellyfin.gsofianos.duckdns.org {
    reverse_proxy jellyfin:8096
}

# Immich
immich.gsofianos.duckdns.org {
    reverse_proxy immich_server:2283
}

# PriceBuddy
pricebuddy.gsofianos.duckdns.org {
    reverse_proxy pricebuddy:80
}

# AI
ai.gsofianos.duckdns.org {
    reverse_proxy 100.71.98.85:8080
}
