# Global options
{
    email {$EMAIL}
}

# Homepage
homepage.gsofianos.duckdns.org {
    reverse_proxy homepage:3000
}

# Jellyfin
jellyfin.gsofianos.duckdns.org {
    reverse_proxy jellyfin:8096
}

# Immich
immich.gsofianos.duckdns.org {
    reverse_proxy immich-server:2283
}

# PriceBuddy
pricebuddy.gsofianos.duckdns.org {
    reverse_proxy pricebuddy:8080
}
