@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
}
body {
  padding-bottom: env(safe-area-inset-bottom);
}
